fastapi==0.115.1
uvicorn==0.34.0
requests==2.32.3
streamlit==1.41.1
gtts==2.5.4
nltk==3.8.1
textblob==0.18.0.post0
googletrans==4.0.0rc1
spacy==3.8.4
deep-translator==1.11.4
beautifulsoup4==4.12.3
scipy==1.11.3
numpy==1.26.4
pydantic==2.7.1
sentencepiece==0.2.0
json5==0.9.14
unicodedata2==15.1.0
collections-extended==2.0.2
